{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Cricketers Page</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        {% for cricketer in cricketers %}
        <tr>
            <th scope="row">{{ cricketer.id }}</th>
            <td>{{ cricketer.name }}</td>
            <td>{{ cricketer.country }}</td>
            <td>{{ cricketer.player_role }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}