{% extends 'base.html' %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">T20</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">IPL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">ODI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Test</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        {% for match in matches %}
        <div class="container shadow-lg">
            <div class="row d-flex justify-content-between align-items-center text-center my-4">
                <div class="col-4 my-4">
                    <img src="{{ match.team_1.team_logo.url }}" height="200" width="200" alt="">
                    {% if match.team_1 == match.winner %}
                    <h4 class="text-success">{{ match.team_1.team_name }}</h4>
                    {% else %}
                    <h4 class="text-danger">{{ match.team_1.team_name }}</h4>
                    {% endif %}
                    {% if match.team_1 == match.toss_winner %}
                        <i class="bi bi-coin text-success"></i>
                    {% endif %}
                </div>
                <div class="col-4 my-4">
                    <h4>VS</h4>
                </div>
                <div class="col-4 my-4">
                    <img src="{{ match.team_2.team_logo.url }}" height="200" width="200" alt="">
                    {% if match.team_2 == match.winner %}
                    <h4 class="text-success">{{ match.team_2.team_name }}</h4>
                    {% else %}
                    <h4 class="text-danger">{{ match.team_2.team_name }}</h4>
                    {% endif %}
                    {% if match.team_2 == match.toss_winner %}
                        <i class="bi bi-coin text-success"></i>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}